.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  padding: 20px;
}

.home-section h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: var(--heading-color); /* Use theme-based heading color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle text shadow effect */
}

.home-section h2 {
  font-size: 2em;
  color: var(--heading-color); /* Use CSS variable */
}

/* Styles for animated title */
.animated-title-container {
  height: 2em; /* Set a fixed height to prevent layout shift */
  overflow: hidden; /* Hide overflowing text during animation */
  margin-bottom: 20px; /* Consistent margin */
  display: flex; /* For centering content */
  justify-content: center;
  align-items: center;
}

/* Keyframe animation for text entry */
@keyframes fadeInScaleUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animated-title-container h2 {
  margin: 0; /* Remove default margin from h2 inside container */
  animation: fadeInScaleUp 0.3s ease-out forwards; /* Apply animation */
}

.home-section p {
  font-size: 1.2em;
  max-width: 800px;
  color: var(--text-color); /* Use CSS variable */
  margin-bottom: 0px; /* Adjust margin */
}

.fun-titles-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px; /* Space between title and dots */
  margin-bottom: 25px; /* Space before bio */
  flex-wrap: wrap; /* Allow dots to wrap */
  gap: 10px; /* Space between dots */
}

.fun-title-dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: var(--navbar-link-hover-bg); /* Subtle color for dots */
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.home-contact-email {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the email and icon */
  margin-top: 60px; /* Add some space above the email */
  font-size: 1.2em;
  color: var(--text-color); /* Use text color for email */
}

.home-contact-email .material-symbols-outlined {
  margin-right: 8px;
  color: var(--accent-color); /* Use accent color for icon */
}

.home-contact-email a {
  color: var(--text-color); /* Use text color for email link */
  text-decoration: none;
}

.home-contact-email a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.fun-title-dot:hover {
  transform: translateY(-3px) scale(1.4); /* Lift and slightly scale on hover */
  background-color: var(--accent-color); /* Highlight color on hover */
}

.fun-title-dot.active {
  background-color: var(--accent-color); /* Active dot color */
}

.fun-title-dot.active:hover {
  transform: translateY(-3px) scale(1.6); /* Lift and scale for active dot on hover */
}
